<!DOCTYPE html>
<html>
  <head>
    <title>SonnenPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<div class="nav">
  <div class="container-nav">

    <div class="container-icon">
      <%= link_to root_path do %>
      <div class="sun-icon"> </div>
      <%end %>
    </div>

    <div class="container-links">
      <div class="produkte item-navbar"><%= link_to "Produkte", produkte_path  %></div>
      <div class="sonnenComunity item-navbar"><%= link_to "sonnenComunity", sonnenComunity_path  %></div>
      <div class="wissen item-navbar"><%= link_to "Wissen", wissen_path  %></div>
      <div class="kontakt item-navbar especial"><%= link_to kontact_path do %>
      Kontakt <span class="light-blue">🡪</span>
      <%end %>
      </div>
    </div>
  </div>
</div>

    <%= yield %>

  </body>
</html>
